/* GOOGLE FONTS */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* VARIABLES CSS */
:root {
    /* base */
    --font-family: "Poppins", sans-serif;
    --font-size: 16px;
    --background-color: #eeeeee;
    --color: #000;

    /* header */
    --header-width: 280px;
    --header-background: #242424;

    --breadcrumb: #d8d8d8;
}

body.darkmode {
    --header-background: #a1a1a1;
    --background-color: #1a1a1a;
    --color: #dddddd;
    --breadcrumb: #313131;
}

/* BASE */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    min-height: 100vh;
    font-family: var(--font-family);
    font-size: var(--font-size);
    background-color: var(--background-color);
    color: var(--color);
}

h1, h2, h3, h4 {
    color: var(--title-color);
    font-weight: var(--title-weight);
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: unset;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

/* ==================== HEADER ==================== */

header .line {
    width: 100%;
    height: .5px;
    background-color: var(--background-color);
}

header {
    z-index: 1000;
    position: fixed;
    top: 0;
    left: 0;
    width: var(--header-width);
    height: 100%;
    background-color: var(--header-background);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    padding: 1rem;
    transition: .3s ease;
}

header nav,
header .nav-bottom {
    width: 100%;
    /* background-color: red; */
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

header nav .logo {
    /* background-color: blue; */
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

header nav .container {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

header nav .container a {
    width: 60px;
    height: 60px;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: .5rem;
}

header nav .container a:hover {
    background-color: #383838;
}

header .nav-link {
    padding: .5rem;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 1rem;
    /* background-color: red; */
    border-radius: .5rem;
    transition: .3s ease;
}

header .nav-link:hover {
    background-color: #383838;
}

header .nav-link p {
    text-transform: capitalize;
    color: var(--background-color);
    font-size: 1.5rem;
    font-weight: 300;
}


/* ==================== HOME ==================== */

main {
    min-height: 100vh;
    padding: 0 3%  0 calc(var(--header-width) + 3%);
    /* background-color: red; */
    display: flex;
    justify-content: center;
    align-items: center;
}

main .icons {
    position: absolute;
    top: 30px;
    right: 30px;
    font-size: 2.5rem;
    display: flex;
    gap: 2rem;
}

main .icons i {
    cursor: pointer;
}

main .icons #burger-menu,
main .icons #close,
main .icons #moon {
    display: none;
}

/* BREADCRUMB */

.breadcrumb {
    position: absolute;
    top: 30px;
    left: var(--header-width);
    padding: .5rem 1rem;
    background-color: var(--breadcrumb);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .5rem;
    border-top-right-radius: .5rem;
    border-bottom-right-radius: .5rem;
}

.breadcrumb .here {
    font-weight: 600;
}


.slider,
.description {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    gap: 1.5rem;
}

/* SLIDER */
.slider {
    position: relative;
    align-items: center;
}

.slider .main-img {
    width: calc(100px * 4 + 1rem * 3);
    /* height: calc(100px * 4 + 1rem * 3); */
    border: 1px solid #000;
    border-radius: 1rem;
    display: flex;
    justify-content: center;
    align-content: center;
    cursor: pointer;
}

.slider .main-img img {
    width: 90%;
}

.slider .img-slider {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}

.slider .img-slider img {
    width: 100px;
    border: 1px solid #000;
    border-radius: .5rem;
    cursor: pointer;
}

.slider .img-slider img:hover {
    background-color: #d1d1d1;
}

/* SLIDER RESPONSIVE */
.btn-slider {
    position: absolute;
    top: 50%;
    /* background-color: red; */
    width: 100%;
    display: none;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.btn-slider i {
    padding: 15px 18px;
    background-color: #000;
    color: #fff;
    border-radius: 50%;
    cursor: pointer;
}

.btn-slider i:hover {
    opacity: .8;
}


/* DESCRIPTION */

.description h1 {
    font-size: 2.5rem;
    font-weight: 600;
    line-height: 78.88px;
}

.description h2 {
    font-size: 2rem;
    font-weight: 400;
    line-height: 35px;
}

.description .star {
    font-size: 1.3rem;
}

.description .star i {
    cursor: pointer;
}

.description #price {
    font-size: 2.5em;
    font-weight: 700;
}

.description .btns {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 1rem;
}

.description .btns a {
    font-size: 1.5rem;
    /* background-color: red; */
    padding: .9rem 1.7rem;
    border-radius: .5rem;
    transition: .3s ease;
    font-weight: 600;
}

.description .btns a:hover {
    transform: scale(1.05);
}

.description .btns a:first-child {
    border: 2px solid var(--color);
}

.description .btns a:last-child {
    background-color: var(--color);
    color: var(--background-color);
    border: 2px solid var(--color);
}

.description .info h3 {
    font-weight: 500;
    font-size: 1.5rem;
}

.description .more {
    text-decoration: underline;
    font-weight: 500;
    font-size: 1.7rem;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: .5rem;
}



/* ==================== MEDIA QUERYS ==================== */

@media screen and (max-width: 1440px) {

    header {
        transform: translateX(-100%);
    }

    main {
        padding-top: 50px;
    }

    main .icons #burger-menu {
        display: block;
    }

    .breadcrumb {
        display: none;
    }

    main {
        padding: 0 7%;
        flex-direction: column;
    }

    .slider,
    .description {
        width: 100%;
        flex-direction: column;
        align-items: center;
        gap: .5rem;
    }

    .description .info,
    .description .more {
        display: none;
    }

    .description .star {
        font-size: 2rem;
    }

    .description .btns {
        width: 100%;
        flex-direction: column;
    }
    
    .description .btns a {
        width: 100%;
        text-align: center;
    }

    .slider .main-img {
        border: none;
    }

    .slider .img-slider {
        display: none;
    }
    
    .btn-slider {
        display: flex;
    }
}

@media screen and (max-width: 500px) {

    .description h1 {
        font-size: 2rem;
    }
    
    .description h2 {
        font-size: 1.5rem;
    }
}